* {
    box-sizing: border-box;
}

ul, li {
    margin: 0;
    padding: 0;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #000;
}

input {
    outline: none;
    border: none;
    height: 25px;
}

body{
    font-size: 12px;
    font-family: Montserrat;
    background: #96DAF8;
    font-weight: 600;
}

.container {
    padding: 0 10px;
}

.header {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reg-log-buttons {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}
.reg-log-buttons>a:not(:first-child) {
    margin-left: 30px;
}

.line {
    width: 25px;
    background: #000;
    height: 2px;
}
.line:not(:first-child){
    margin-top: 5px;
}

.burger {
    cursor: pointer;
}

.pop-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #00B2FF;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.5s ease all;
    
}

.pop-menu>a:first-of-type {
    margin-top: 100px;
}
.pop-menu>.account-page, .pop-menu>.graph-page {
    margin-top: 50px;
}
.pop-menu>.graph-page {
    margin-bottom: 100px;
}

.pop-menu.active {
    display: flex;
}
.cross {
    position: absolute;
    margin-top: 40px;
    margin-right: -98px;
    cursor: pointer;
}

.cross:after {
    content: '\2716';
    font-size: 25px;
    margin-top: 50px;
}

.section {
    margin: 50px auto 0px;
}

.abs-section, .chest-section, .arms-section, .legs-section {
    max-width: 220px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.abs-title, .chest-title, .arms-title, .legs-title {
    font-size: 12px;
    font-family: Roboto;
    margin-bottom: 10px;
}

.section>a:not(:first-child) {
    margin-top: 30px;
}


/* ABS SECTION */

.abs-section__title, 
.chest-section__title,
.arms-section__title,
.legs-section__title {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-weight: 700;
}

.jumping-jacks-section, 
.abdominal-crunch-section, 
.mountain-climber-section, 
.leg-raises-section, 
.plank-section, 
.heel-touch-section, 

.incline-push-ups-section,
.knee-push-ups-section,
.push-ups-section,
.wide-arm-push-ups-section,
.cobra-stretch-section,
.chest-stretch-section,

.triceps-dips-section,
.diamond-push-ups-section,
.diagonal-plank-section,
.inch-worms-section,
.wall-push-ups-section,

.side-hop-section,
.squats-section,
.backward-lunge-section,
.donkey-kicks-left-section,
.donkey-kicks-right-section,
.wall-calf-raises-section {
    margin-top: 15px;
    display: flex;
    margin-left: 15px;
}

.jumping-jacks-section-text, 
.abdominal-crunch-section-text, 
.mountain-climber-section-text, 
.leg-raises-section-text, 
.plank-section-text, 
.heel-touch-section-text, 

.incline-push-ups-section-text,
.knee-push-ups-section-text,
.mountain-climber-section-text,
.wide-arm-push-ups-section-text,
.cobra-stretch-section-text,
.chest-stretch-section-text,

.triceps-dips-section-text,
.diamond-push-ups-section-text,
.diagonal-plank-section-text,
.inch-worms-section-text,
.wall-push-ups-section-text,

.side-hop-section-text,
.squats-section-text,
.backward-lunge-section-text,
.donkey-kicks-left-section-text,
.donkey-kicks-right-section-text,
.wall-calf-raises-section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jumping-jacks-section-title, .jumping-jacks-section-cal, 
.abdominal-crunch-section-title, .abdominal-crunch-section-cal, 
.mountain-climber-section-title, .mountain-climber-section-cal, 
.leg-raises-section-title, .leg-raises-section-cal, 
.plank-section-title, .plank-section-cal, 
.heel-touch-section-title, .heel-touch-section-cal, 

.incline-push-ups-section-title, .incline-push-ups-section-cal, 
.knee-push-ups-section-title, .knee-push-ups-section-cal,
.push-ups-section-title, .push-ups-section-cal,
.wide-arm-push-ups-section-title, .wide-arm-push-ups-section-cal,
.cobra-stretch-section-title, .cobra-stretch-section-cal,
.chest-stretch-section-title, .chest-stretch-section-cal,

.triceps-dips-section-title, .triceps-dips-section-cal,
.diamond-push-ups-section-title, .diamond-push-ups-section-cal,
.diagonal-plank-section-title, .diagonal-plank-section-cal,
.inch-worms-section-title, .inch-worms-section-cal,
.wall-push-ups-section-title, .wall-push-ups-section-cal,

.side-hop-section-title, .side-hop-section-cal,
.squats-section-title, .squats-section-cal,
.backward-lunge-section-title, .backward-lunge-section-cal,
.donkey-kicks-left-section-title, .donkey-kicks-left-section-cal,
.donkey-kicks-right-section-title, .donkey-kicks-right-section-cal,
.wall-calf-raises-section-title, .wall-calf-raises-section-cal {
    font-weight: 600!important;
    font-size: 15px;
    margin-left: 20px;
}
.jumping-jacks-section-cal, 
.abdominal-crunch-section-cal, 
.mountain-climber-section-cal, 
.leg-raises-section-cal, 
.plank-section-cal, 
.heel-touch-section-cal,

.incline-push-ups-section-cal,
.knee-push-ups-section-cal,
.push-ups-section-cal,
.wide-arm-push-ups-section-cal,
.cobra-stretch-section-cal,
.chest-stretch-section-cal,

.triceps-dips-section-cal,
.diamond-push-ups-section-cal,
.diagonal-plank-section-cal,
.inch-worms-section-cal,
.wall-push-ups-section-cal,

.side-hop-section-cal,
.squats-section-cal,
.backward-lunge-section-cal,
.donkey-kicks-left-section-cal,
.donkey-kicks-right-section-cal,
.wall-calf-raises-section-cal {
    margin-top: 10px;
}
.start-btn {
    display: block;
    max-width: 180px;
    margin: 15px auto;
    width: 100%;
    background: #21A9E3;
    text-align: center;
    font-size: 16px;
    padding: 10px 0px;
}

.update-delete-buttons {
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
}
.btn {
    display: block;
    max-width: 100px;
    width: 100%;
    background-color: #21A9E3;
    padding: 5px 10px;
    text-align: center;
    transition: 0.5s ease-in;
    border: none;
    margin: 15px auto;
}
.btn:hover {
    background-color: #169CD6;
}
.delete-btn {
    margin-left: 5px;
}


/* Tami CSS */
.login-title, .register-title {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
}
.username-section, .firstname-section {
    margin-top: 30px;
}

.username-section, .password-section, .firstname-section, .lastname-section, .email-section {
    display: flex;
    justify-content: center;
    align-items: center;

}

.lastname-section, .password-section, .username-section, .email-section {
    margin-top: 15px;
}

.username, .password, .firstname, .lastname, .email {
    font-size: 13px;
}

.firstnameInput {
    margin-left: 15px;
}
.lastnameInput {
    margin-left: 16.5px;
}
.passwordInput {
    margin-left: 22.5px;
}
.usernameInput {
    margin-left: 20px;
}
.emailInput {
    margin-left: 43px;
}

.buttons {
    display: flex;
}

.login-btn, .reset-btn, .submit-btn {
    display: block;
    max-width: 100px;
    width: 100%;
    height: 30px;
    padding: 7px 31px;
    background-color: #21A9E3;
    margin: 20px auto 0px;
    text-align: center;
    transition: 0.5s ease-in;
}

.login-btn:hover {
    background-color: #169CD6;
}