* {
    box-sizing: border-box;
}

ul, li {
    margin: 0;
    padding: 0;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #000;
}

input {
    outline: none;
    border: none;
    height: 25px;
}
button {
    outline: none;
    border: none;
}

body{
    font-size: 12px;
    font-family: Montserrat;
    background: #96DAF8;
    font-weight: 600;
}

.container {
    padding: 0 10px;
}

.header {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reg-log-buttons {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}
.reg-log-buttons>a:not(:first-child) {
    margin-left: 30px;
}

.line {
    width: 25px;
    background: #000;
    height: 2px;
}
.line:not(:first-child){
    margin-top: 5px;
}

.burger {
    cursor: pointer;
}

.pop-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #00B2FF;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.5s ease all;
    
}

.pop-menu>a:first-of-type {
    margin-top: 100px;
}
.pop-menu>.account-page, .pop-menu>.graph-page {
    margin-top: 50px;
}
.pop-menu>.graph-page {
    margin-bottom: 100px;
}

.pop-menu.active {
    display: flex;
}
.cross {
    position: absolute;
    margin-top: 40px;
    margin-right: -98px;
    cursor: pointer;
}

.cross:after {
    content: '\2716';
    font-size: 25px;
    margin-top: 50px;
}

.section {
    margin: 50px auto 0px;
}

.abs-section, .chest-section, .arms-section, .legs-section {
    max-width: 220px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.abs-title, .chest-title, .arms-title, .legs-title {
    font-size: 12px;
    font-family: Roboto;
    margin-bottom: 10px;
}

.section>a:not(:first-child) {
    margin-top: 30px;
}


/* ABS SECTION */


.start-btn {
    display: block;
    max-width: 180px;
    margin: 15px auto;
    width: 100%;
    background: #21A9E3;
    text-align: center;
    font-size: 16px;
    padding: 10px 0px;
}

.update-delete-buttons {
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
}
.btn {
    display: block;
    max-width: 100px;
    width: 100%;
    background-color: #21A9E3;
    padding: 5px 10px;
    text-align: center;
    transition: 0.5s ease-in;
    border: none;
    margin: 15px auto;
}
.btn:hover {
    background-color: #169CD6;
}
.delete-btn {
    margin-left: 5px;
}


/* Tami CSS */
.login-title, .register-title {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
}
.username-section, .firstname-section {
    margin-top: 30px;
}

.username-section, .password-section, .firstname-section, .lastname-section, .email-section {
    display: flex;
    justify-content: center;
    align-items: center;

}

.lastname-section, .password-section, .username-section, .email-section {
    margin-top: 15px;
}

.username, .password, .firstname, .lastname, .email {
    font-size: 13px;
}

.firstnameInput {
    margin-left: 20px;
}
.lastnameInput {
    margin-left: 22.5px;
}
.passwordInput {
    margin-left: 22.5px;
}
.usernameInput {
    margin-left: 21.5px;
}
.emailInput {
    margin-left: 42.5px;
}

.buttons {
    display: flex;
}

.login-btn, .reset-btn, .submit-btn {
    display: block;
    max-width: 100px;
    width: 100%;
    height: 30px;
    padding: 7px 31px;
    background-color: #21A9E3;
    margin: 20px auto 0px;
    text-align: center;
    transition: 0.5s ease-in;
}

.login-btn:hover {
    background-color: #169CD6;
}